<%if @notice %>
<h1>
  <%= @notice%>
</h1>
<%end%>

<h1>Dropbox integration</h1>
<p>Users can:
  <ul>
    <li>Keep a folder synchronized with VisualREST</li>
    <li>Send files to Dropbox</li>
  </ul>
</p>


<h2>Link Dropbox account with VisualREST</h2>
<p>
  Authorization to user's Dropbox account has three steps:
  <ul>
    <li>Go to: http://visualrest.cs.tut.fi/user/{username}/dropbox_authorization <br />(or Settings->Dropbox->Authorize)</li>
    <li>User is directed to Dropbox website for authorizing access to the Dropbox account</li>
    <li>Dropbox access token is stored in VisualREST</li>
  </ul>
</p>




<br /><br />

<h2>Synchronize a folder</h2>
<p>
  Synchronization is done with a virtual container called 'dropbox_container'. When the synchronization is started, all previous
  content in the 'dropbox_container' will be removed.
  <ul>
    <li>Go to 'Settings->Dropbox'</li>
    <li>Select the folder you want to synchronize</li>
    <li>Press 'Synchronize'.</li>
    <li>Your content from the Dropbox folder will be synchronized approximately every 10 minutes.</li>
  </ul>
</p>




<br /><br />

<h2>Test Dropbox access token</h2>
<p>
  Access token to Dropbox can be tested, to make sure it is valid.
</p>

<h3>HTTP request</h3>
  <li><b>method:</b>     GET</li>
  <li><b>url:</b>        http://visualrest.cs.tut.fi/user/{username}/dropboxConnected</li>
  <li><b>parameters:</b></li> 
  <ul>
    <li>authentication ( i_am_client, auth_username, auth_timestamp, auth_hash )</li>
  </ul>
</ul>
<p>
  <b>CURL example:</b><br />
  curl -X GET http://visualrest.cs.tut.fi/user/heikki/dropboxConnected
  -F auth_username=heikki -F auth_timestamp=12344334 -F auth_hash=XXXXXXXXXXXXXXXXXXXXXXXXXXX 
  -F i_am_client=true  
</p>




<br /><br />

<h2>Send file to Dropox</h2>
<p>
  A file stored in VisualREST can be sent to Dropbox. The file essence must be already uploaded to VisualREST server.
</p>

<h3>HTTP request</h3>
  <li><b>method:</b>     PUT</li>
  <li><b>url:</b>        http://visualrest.cs.tut.fi/user/{username}/dropboxUpload</li>
  <li><b>parameters:</b></li> 
  <ul>
    <li>authentication ( i_am_client, auth_username, auth_timestamp, auth_hash )</li>
    <li>file_uri - uri to the file in VisualREST that will be sent to Dropbox</li>
    <li>dropbox_path - Path to the folder in Dropbox, where the file will be saved to</li>
  </ul>
</ul>
<p>
  <b>CURL example:</b><br />
  curl -X PUT http://visualrest.cs.tut.fi/user/heikki/dropboxUpload
  -F auth_username=heikki -F auth_timestamp=12344334 -F auth_hash=XXXXXXXXXXXXXXXXXXXXXXXXXXX 
  -F i_am_client=true  -F file_uri=http://visualrest.cs.tut.fi/user/heikki/device/android_container/files/IMG_20120306_130621.jpg
  -F dropbox_path=/visualrest_upload/
</p>


