<%if @notice %>
<h1>
  <%= @notice%>
</h1>
<%end%>

<h1>Facebook integration</h1>
<p>Users can:
  <ul>
    <li>Import photo albums from Facebook</li>    
    <li>Publish photos and videos to Facebook</li>
    <li>Write to Facebook walll</li>
  </ul>
</p>

<h2>Link Facebook account with VisualREST</h2>
<p>
  Authorization to user's Facebook account has three steps:
  <ul>
    <li>Go to: http://visualrest.cs.tut.fi/user/{username}/facebook_authorization <br />(or Settings->Facebook->Authorize)</li>
    <li>User is directed to Facebook website for authorizing access to the Facebook account</li>
    <li>Facebook access token is stored in VisualREST</li>
  </ul>
</p>


<br /><br />

<h2>Import photo albums from Facebook</h2>
<p>
  <ul>
    <li>Go to 'settings->Facebook->Import Facebook album'</li>
    <li>Select virtual container from list.</li>
    <li>You will see a list of your facebook photo albums.</li>
    <li>An album is imported to VisualREST by pressing the 'Import this album' -button next to the album name.</li>
  </ul>
</p>




<br /><br />

<h2>Publish photo or video to Facebook</h2>
<p>
  Photos and videos can be published to Facebook using <b>HTTP request</b> or <b>using the form in 'settings->Facebook->Publish photo to Facebook'</b> 
  or <b>in file search using the Facebook-logo.</b>
</p>

<h3>HTTP request</h3>
  <li><b>method:</b>     POST</li>
  <li><b>url:</b>        http://visualrest.cs.tut.fi/user/{username}/facebookPublishPhoto</li>
  <li><b>parameters:</b></li> 
  <ul>
    <li>authentication ( i_am_client, auth_username, auth_timestamp, auth_hash )</li>
    <li><b>file_uri</b>: uri to the file in VisualREST
  </ul>
</ul>
<p>
  <b>CURL example:</b><br />
  curl -X GET http://visualrest.cs.tut.fi/user/heikki/facebookPublishPhoto -F file_uri=http://visualrest.cs.tut.fi/user/heikki/device/dev20111208/files/bus.jpg 
  -F auth_username=heikki -F auth_timestamp=12344334 -F auth_hash=XXXXXXXXXXXXXXXXXXXXXXXXXXX 
  -F i_am_client=true  
</p>



<br /><br />



<h2>Write to Facebook wall</h2>
<p>
  Users can write to their Facebook wall using VisualREST. 
  Writing on the wall can be done using <b>HTTP request</b> or <b>using the form in 'settings->Facebook->Write on Facebook wall'</b>.
</p>

<h3>HTTP request</h3>
  <li><b>method:</b>     POST</li>
  <li><b>url:</b>        http://visualrest.cs.tut.fi/user/{username}/facebookWriteOnWall</li>
  <li><b>parameters:</b></li> 
  <ul>
    <li>authentication ( i_am_client, auth_username, auth_timestamp, auth_hash )</li>
    <li><b>message</b>: The message that will be published on Facebook wall
  </ul>
</ul>
<p>
  <b>CURL example:</b><br />
  curl -X POST http://visualrest.cs.tut.fi/user/heikki/facebookWriteOnWall -F "message=This is a test message" -F auth_username=heikki -F auth_timestamp=12344334 -F auth_hash=bde9676f4623f73653336e7b544af1d3885abce6 -F i_am_client=true  
</p>





<br /><br />

<h2>Test Facebook access token</h2>
<p>
  Access token to Facebook can be tested, to make sure it is valid.
</p>

<h3>HTTP request</h3>
  <li><b>method:</b>     GET</li>
  <li><b>url:</b>        http://visualrest.cs.tut.fi/user/{username}/facebookConnected</li>
  <li><b>parameters:</b></li> 
  <ul>
    <li>authentication ( i_am_client, auth_username, auth_timestamp, auth_hash )</li>
  </ul>
</ul>
<p>
  <b>CURL example:</b><br />
  curl -X GET http://visualrest.cs.tut.fi/user/heikki/facebookConnected
  -F auth_username=heikki -F auth_timestamp=12344334 -F auth_hash=XXXXXXXXXXXXXXXXXXXXXXXXXXX 
  -F i_am_client=true  
</p>




