<%if @notice %>
<h1>
  <%= @notice%>
</h1>
<%end%>

<h1>Example container with Ruby</h1>
<p>
  <ul>
    <li>This container program monitors every 15 seconds for changes in the folder.</li>
    <li>Metadata of all new/changed files is sent to the server.</li>
    <li>When the server requests essence of a file with, the essence is uploaded to the server.</li>
  </ul>
</p>

<p>The container program can be <a href="/zipped_client/ruby_client/VRest_client_on_ubuntu_2012_01_05.zip">downloaded</a>.</p>

<p>README file can be found from the above zip, with instructions for running the container program on Ubuntu.</p>


