<%if @notice %>
<h1>
  <%= @notice%>
</h1>
<%end%>

<h1>Twitter integration</h1>
<p>Users can:
  <ul>
    <li>Publish tweets with links to files in VisualREST</li>
  </ul>
</p>



<h2>Link Twitter account with VisualREST</h2>
<p>
  Authorization to user's Twitter account has three steps:
  <ul>
    <li>Go to: http://visualrest.cs.tut.fi/user/{username}/twitter_authorization <br />(or Settings->Twitter->Authorize)</li>
    <li>User is directed to Twitter website for authorizing access to the Twitter account</li>
    <li>Twitter access token is stored in VisualREST</li>
  </ul>
</p>



<br /><br />

<h2>Publish a tweet</h2>
<p>
  Tweet can be created using <b>HTTP request</b> or <b>using the form in 'settings->Twitter->Publish in Twitter'</b>.
</p>

<h3>HTTP request</h3>
  <li><b>method:</b>     POST</li>
  <li><b>url:</b>        http://visualrest.cs.tut.fi/user/{username}/twitterPublish</li>
  <li><b>parameters:</b></li> 
  <ul>
    <li>authentication ( i_am_client, auth_username, auth_timestamp, auth_hash )</li>
    <li><b>message</b>: Message of the tweet.
  </ul>
</ul>
<p>
  <b>CURL example:</b><br />
  curl -X POST http://visualrest.cs.tut.fi/user/heikki/twitterPublish 
  -F "message=A beautiful sunset: http://visualrest.cs.tut.fi/user/heikki/device/visualrest_mail_box/files/sun.jpg" 
  -F auth_username=heikki -F auth_timestamp=12344334 -F auth_hash=XXXXXXXXXXXXXXXXXXXXXXXXXXX 
  -F i_am_client=true  
</p>



<br /><br />

<h2>Test Twitter access token</h2>
<p>
  Access token to Twitter can be tested, to make sure it is valid.
</p>

<h3>HTTP request</h3>
  <li><b>method:</b>     GET</li>
  <li><b>url:</b>        http://visualrest.cs.tut.fi/user/{username}/twitterConnected</li>
  <li><b>parameters:</b></li> 
  <ul>
    <li>authentication ( i_am_client, auth_username, auth_timestamp, auth_hash )</li>
  </ul>
</ul>
<p>
  <b>CURL example:</b><br />
  curl -X GET http://visualrest.cs.tut.fi/user/heikki/twitterConnected
  -F auth_username=heikki -F auth_timestamp=12344334 -F auth_hash=XXXXXXXXXXXXXXXXXXXXXXXXXXX 
  -F i_am_client=true  
</p>



